
#memer{

    position: absolute;
    top:700px;
    left: 40px;
}
#magic{
    color: red;
    font-size: xx-large;
}
img{

    border: 2px solid black;
    width: 200px;
}

input[type="reset"]{
    margin: 0 auto;
    display: block;
    padding: 5px 50px;
    background-color:rgb(248, 229, 189);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}


.container{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-right: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(241, 209, 133);
}

.rightpane{
    border: 5px double rgba(223, 180, 85, 0.938);
    border-radius: 20px;
    border-width: 5.9px 0px 0px;
    background-color: rgba(0, 0, 0, 0.434);
    margin-left: 60px;
    box-shadow: -5px 4px 20px wheat;
    margin-top: 40px;


}
h2{
    background-color: rgba(0, 0, 0, 0.559);
    border-radius: 4px;
    margin-top: 80%;
    padding: 10px 10px;
    box-shadow: -5px 4px 20px wheat;
}

form{
    width: 350px;
    padding:10px 50px;

}

h3  {
    display: inline;
    padding: 20px 0px;
}
h6{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: rgb(243, 165, 137);
    
}


body {
  background-image: url('bgimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
input{
    border-radius: 5px;
    border-style:groove;
    border-color: rgba(240, 115, 32, 0.857);
    border-width: 3px;
    background-color:bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
select{
    border-radius: 5px;
    border-color: rgba(240, 115, 32, 0.857);
    border-width: 2px;
    padding: 1.4px 40px;
    align-items:center;
    margin-left: 35px;
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgba(184, 66, 66, 0.911);

}

input[type="submit"]  {

    margin: 0 auto;
    display: block;
    padding: 5px 50px;
    background-color:rgb(248, 229, 189);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    margin-bottom: 10px;
}
input::placeholder{
    color:rgba(184, 66, 66, 0.911);
}
#pwd1{
    margin-left: 76px;
}
#pwd2{
    margin-left: 2px;
}
#acc{
    margin-left: 15px;
}
#email{
    margin-left: 107px;
}

alert{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}